.contentGridContainer {
  display: grid;
  grid-auto-rows: minmax(4em, auto);
  overflow: auto;
  flex: 1;

  padding: 1em 0.75em;
  gap: 16px;
}

.gridItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
  box-shadow: 0em 0.125em 0.25em rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  padding-top: 150%;
  overflow: hidden;
}

.imageWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  margin-top: 0.5em;
  font-size: 1em;
  font-weight: 500;
  color: var(--text-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


@media (min-width:769px) {
    
}

@media (max-width: 768px) {
  .contentGridContainer {
    grid-template-columns: repeat(3, 1fr);
    padding: 1em 0.75em;
    gap: 16px;
  }
}
