
.navBar {
    border: 1px solid red;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:100% 100%;

    background-size:cover;
    display: flex;
    gap: 1.25em;
    align-items: center;
    padding: 0.5em 1.25em;
 
    height: 7vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.8);
  }
  
  .navBar .searchContainer {
    margin-left: auto;
  }

  /* Content Styles */
.contentPageTitle {
    font-size: var(--page-title-font-size);
    font-weight: 200;
    letter-spacing: 0.05em;
  }

  .contentPageTitle.hide{
    display: none;
  }

@media (max-width: 480px) {
  .contentPageTitle {
    font-size: 1.5em;
  }

}